<mat-card *ngIf="content; else loading">
  <div class="container">
    <markdown [data]="content.content"></markdown>
    <div class="contacts">
      <img (click)="openDialog()" width="32px" height="32px" src="../../assets/icon/SoMe/f-ogo_RGB_HEX-100.svg">
      <a href="mailto:lauritzenpihl@gmail.com"><img width="40px" height="40px" src="../../assets/icon/baseline-email-24px.svg"></a>
    </div>
  </div>
</mat-card>

<ng-template #loading>
    <mat-card>
      <mat-spinner [color]="secondary"></mat-spinner>
    </mat-card>
  </ng-template>