.container {
    background-color: #FAFAFA;
    max-width: 1024px !important;
    margin: 0 auto;
}

.fb {
    justify-content: center;
}

.contacts {
    display: flex;
    justify-content: space-evenly ;
}