.container {
    justify-content: space-around;
}

.fb {
    justify-content: center;
}

.contacts {
    display: flex;
    justify-content: space-evenly ;
}

mat-card {
    background-color: lightblue;
    color: white;
}