<div class="banner-container">
  <img class="banner" fxHide.xs="true" width="100%" src="../../assets/img/jumbotron.jpg" />
</div>
<div *ngIf="posts; else loading" class="container">
 
    <h1>
      Nyhedsarkiv
    </h1>
    <mat-list>
      <mat-list-item class="posts" *ngFor="let post of posts" [class.selected]="post === selectedPost"
        (click)="openDialog(post)">
        <span matLine>{{ post.title }} </span>
        <img matListAvatar *ngFor="let img of post.mainImage" src="{{ img.url }}" />
        <time matLine>
          Opdateret: {{ post.date | date: 'shortDate'}}
        </time>
      </mat-list-item>
      <ng-template #elseBlock>Der er ikke flere nyheder i arkiv</ng-template>
      <div *ngIf="!noMore; else elseBlock">
        <button mat-button (click)="loadMore()" [hidden]="noMore">Hent {{ LOAD_COUNT_NUMBER }} mere</button>
      </div>
    </mat-list>
</div>
<ng-template #loading>
    <mat-spinner [color]="secondary"></mat-spinner>

</ng-template>