<mat-card class="card" *ngIf="content; else loading">
  <mat-card-title>{{content.title}}</mat-card-title>
  <mat-accordion  class="example-headers-align">
    
    <mat-expansion-panel *ngIf="party" hideToggle>
      <mat-expansion-panel-header>
          <mat-icon><img width="24px" src="../../assets/icon/kisspng-social-dance-bachata-cuban-salsa-kizomba-dance-icon-5b3b0883e80c11.8557855915305954599505.png"></mat-icon>
        <mat-panel-title>
          {{party.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{party.date | date: 'shortDate':''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{party.description}}
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="common" hideToggle>
      <mat-expansion-panel-header>
          <mat-icon>map</mat-icon>
        <mat-panel-title>
          {{common.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{common.date | date: 'shortDate':''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{common.description}}
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="nextGame" hideToggle>
      <mat-expansion-panel-header>
          <mat-icon class="fa fa-soccer-ball-o" style="font-size:24px"></mat-icon>
        <mat-panel-title>
          Næste Hjemmestævne
        </mat-panel-title>
        <mat-panel-description>
            {{nextGame.date | date: 'shortDate':''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{nextGame.date | date: 'fullDate':''}}
      <markdown [data]="nextGame.content"></markdown>
      <button mat-stroked-button color="primary" routerLink="/matches">

        Kommende Kampe
      </button>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="work" hideToggle>
      <mat-expansion-panel-header>
          <mat-icon><img width="24px" src="../../assets/icon/set-cv2-06-512.png"></mat-icon>
        <mat-panel-title>
          {{work.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{work.date | date: 'shortDate':''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{work.description}}
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="refTable" hideToggle>
      <mat-expansion-panel-header>
          <mat-icon>map</mat-icon>
        <mat-panel-title>
          {{refTable.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{refTable.date | date: 'shortDate':''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{refTable[0].description}}
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
<ng-template #loading>
    <mat-card>
      <mat-spinner [color]="secondary"></mat-spinner>
    </mat-card>
  </ng-template>