<mat-card class="card" *ngIf="content; else loading">
  <mat-card-title>{{content.title}}</mat-card-title>
  <mat-accordion  >
    <mat-expansion-panel *ngIf="party">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{party[0].title}}
        </mat-panel-title>
        <mat-panel-description>
          {{party[0].date | date: 'shortDate':''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{party[0].description}}
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="common">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{common[0].title}}
        </mat-panel-title>
        <mat-panel-description>
          {{common[0].date | date: 'shortDate':''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{common[0].description}}
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="nextGame">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Næste Hjemmestævne
        </mat-panel-title>
        <mat-panel-description>
            {{nextGame.date | date: 'shortDate':''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{nextGame.date | date: 'fullDate':''}}
      <markdown [data]="nextGame.content"></markdown>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="work">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{work[0].title}}
        </mat-panel-title>
        <mat-panel-description>
          {{work[0].date | date: 'shortDate':''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{work[0].description}}
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="refTable">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{refTable[0].title}}
        </mat-panel-title>
        <mat-panel-description>
          {{refTable[0].date | date: 'shortDate':''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{refTable[0].description}}
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
<ng-template #loading>
    <mat-card>
      <mat-spinner [color]="secondary"></mat-spinner>
    </mat-card>
  </ng-template>