<div class="card" *ngIf="content; else loading" fxLayoutAlign="center center">
  <mat-accordion fxFlex="95%" >

    <mat-expansion-panel *ngIf="nextGame" hideToggle>
      <mat-expansion-panel-header>
        <div class="mat-content">
          <mat-icon fxFlex="10%" class="fa fa-soccer-ball-o" style="font-size:24px"></mat-icon>
          <mat-panel-title fxFlex="40%">
            Hjemmestævne
          </mat-panel-title>
          <mat-panel-description fxFlex="20%">
            {{nextGame.date | date: 'shortDate':''}}
          </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
      <h4  fxLayoutAlign="flex-start center">{{nextGame.date | date: 'fullDate':''}}</h4>
      <table mat-table [dataSource]="nextGame.games" >
  
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
          <!-- Position Column -->
          <ng-container matColumnDef="time" >
            <th mat-header-cell *matHeaderCellDef fxFlex="25%" fxFlex.lt-md="15%" fxLayoutAlign="flex-start center"> Kl. </th>
            <td mat-cell *matCellDef="let element" fxFlex="25%" fxFlex.lt-md="15%" fxLayoutAlign="flex-start center"> {{element.time | slice:0:5}} </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="home" >
            <th mat-header-cell *matHeaderCellDef  fxFlex="25%"  fxFlex.lt-md="37.5%" fxLayoutAlign="flex-start center"> JAI </th>
            <td mat-cell *matCellDef="let element" fxFlex="25%" fxFlex.lt-md="37.5%" fxLayoutAlign="flex-start center"> {{element.home}} </td>
          </ng-container>
  
          <!-- Weight Column -->
          <ng-container matColumnDef="away">
            <th mat-header-cell *matHeaderCellDef fxFlex="25%"  fxFlex.lt-md="37.5%" fxLayoutAlign="flex-start center"> Ude </th>
            <td mat-cell *matCellDef="let element" fxFlex="25%"  fxFlex.lt-md="37.5%" fxLayoutAlign="flex-start center"> {{element.away}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="refTable" >
            <th mat-header-cell *matHeaderCellDef fxFlex="25%"  fxFlex.lt-md="20%" fxLayoutAlign="flex-start center"> Dommerbord </th>
            <td mat-cell *matCellDef="let element" fxFlex="25%" fxFlex.lt-md="20%" fxLayoutAlign="flex-start center"> {{element.refTable}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div fxLayoutAlign="flex-end">
         <button mat-stroked-button routerLink="/matches">Kommende Kampe</button>
      </div>
     
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="party" hideToggle>
      <mat-expansion-panel-header>
        <div class="mat-content">
          <mat-icon fxFlex="10%"><img width="24px" src="../../assets/icon/party.png"></mat-icon>
          <mat-panel-title fxFlex="40%">
            {{party.title}}
          </mat-panel-title>
          <mat-panel-description fxFlex="20%">
            {{party.date | date: 'shortDate':''}}
          </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
      <markdown class="justify-text">{{party.description}}</markdown>
      <br>
      <strong>Vælg læs mere for at komme til begivenhedens facebook side eller kommende for at se flere kommende JAI fester.</strong> 
      <div fxLayoutAlign="flex-end">
        <!-- <button mat-stroked-button (click)="openDialog(party)" [class.selected]="party === selectedParty">Lære mere</button> -->
        <button mat-stroked-button><a href="party.link">Lære mere</a></button>
        <button mat-stroked-button routerLink="/events">Kommende</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="common" hideToggle>
      <mat-expansion-panel-header>
        <div class="mat-content">
          <mat-icon fxFlex="10%"><img width="32px" src="../../assets/icon/unity.png"></mat-icon>
          <mat-panel-title fxFlex="40%">
            {{common.title}}
          </mat-panel-title>
          <mat-panel-description fxFlex="20%">
            {{common.date | date: 'shortDate':''}}
          </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
      {{common.description}}
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="work" hideToggle>
      <mat-expansion-panel-header>
        <div class="mat-content">
          <mat-icon fxFlex="10%"><img width="24px" src="../../assets/icon/set-cv2-06-512.png"></mat-icon>
          <mat-panel-title fxFlex="40%">
            {{work.title}}
          </mat-panel-title>
          <mat-panel-description fxFlex="20%">
            {{work.date | date: 'shortDate':''}}
          </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
      <div fxLayout="column">
        <markdown class="justify-text" [data]="work.description"></markdown>

        <div fxLayout="row" fxLayoutAlign="flex-end">

          <!-- <button mat-stroked-button><a href="{{work.link}}">Læs mere</a></button> -->
          <button mat-stroked-button><a href="{{work.link}}">Tilmelding</a></button>
          <button mat-stroked-button routerLink="/work">Kommende</button>
        </div>
      </div>
    </mat-expansion-panel>

    <!-- <mat-expansion-panel *ngIf="refTable" hideToggle>
      <mat-expansion-panel-header>
        <mat-icon>map</mat-icon>
        <mat-panel-title>
          {{refTable.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{refTable.date | date: 'shortDate':''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{refTable[0].description}}
    </mat-expansion-panel>-->
  </mat-accordion> 
</div>

<ng-template #loading>
  <mat-spinner [color]="secondary"></mat-spinner>
</ng-template>