<div class="banner-container">
  <img class="banner" width="100%" src="../../assets/img/jumbotron.jpg" />
</div>

<div class="container" *ngIf="content; else loading">
  <!-- variable binding -->
  <h2 class=title>
    {{content.title}}
  </h2>
  <div class="justify-text">
    {{content.content}}
  </div>
  <h2 class="subtitle">

    {{content.social.title}}
  </h2>
  <markdown class="justify-text">
    {{content.social.content}}
  </markdown>
  <h2 class="subtitle">
    {{content.comitees.title}}
  </h2>
  <markdown class="justify-text">
    {{content.comitees.content}}
  </markdown>
  <h2 class="subtitle">
    {{content.history.title}}
  </h2>
  <markdown class="justify-text">
    {{content.history.content}}
  </markdown>
</div>

<ng-template #loading>
  <div>
    <mat-spinner [color]="secondary"></mat-spinner>
  </div>
</ng-template>