<div *ngIf="Arenas; else loading">
<div class="container" fxLayout="row" >
    <button mat-raised-button *ngFor="let marker of Arenas" (click)="changeMarker(marker)">{{marker.name}}</button>
</div>
<agm-map *ngIf="mapCenter" [scrollwheel]="null" [mapDraggable]="false" [gestureHandling]="cooperative" (mapReady)="onMapReady()" [longitude]="mapCenter.longitude" [latitude]="mapCenter.latitude"
    [zoom]="12">
    <agm-marker *ngFor="let marker of Arenas" [longitude]="marker.location.lng" [latitude]="marker.location.lat">
        <agm-info-window [isOpen]="marker.showOnMaps">
            <address>
                <h3>{{marker.name}}</h3>
                <p>{{marker.address}}</p>
                <button mat-raised-button color="accent"><a [href]="marker.mapsLink" target="_blank" >Find vej</a></button>
            </address>
        </agm-info-window>
    </agm-marker>
</agm-map>
</div>
<ng-template #loading>
      <mat-spinner [color]="secondary"></mat-spinner>
  </ng-template>