<div class="banner-container">
  <img class="banner" fxHide.xs="true" width="100%" src="../../assets/img/jumbotron.jpg" />
</div>
<div class="container" *ngIf="content">

    <h1>{{content.title}}</h1>
  <div>
    {{content.content}}

    <div *ngIf="membersPolitics.title">
      <h2>
        {{membersPolitics.title}}
      </h2>
      <button mat-button *ngIf="!showMembers; else showLess" (click)="toggle('members')">Se mere</button>

      <ng-template #showLess>
        <button mat-button (click)="toggle('members')">Luk</button>

          <div markdown>{{membersPolitics.content}}</div>

      </ng-template>
    </div>

    <div>
      <mat-card-title *ngIf="privacyPolitics">
        {{privacyPolitics.title}}
      </mat-card-title>
      <button mat-button *ngIf="!showPrivacy; else showLess" (click)="toggle('privacy')">Se mere</button>

      <ng-template #showLess>
        <button mat-button (click)="toggle('privacy')">Luk</button>
          <div markdown>{{privacyPolitics.content}}</div>

      </ng-template>
    </div>
  </div>
</div>