<mat-card  *ngIf="content; else loading">
  <mat-card-title>
    {{content.title}}
  </mat-card-title>
  <img fxHide.xs="true" width="100%" src="{{content.banner[0].url}}" />
  <img fxHide.gt-xs="true" width="100%" src="{{content.bannermobile[0].url}}" />
</mat-card>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
  <app-post-list fxFlex="60%"></app-post-list>
  <app-activities fxFlex="40%"></app-activities>
  <!--<app-matches fxFlex="50%"></app-matches>-->
</div>
<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap>
    <div fxFlex="60%">
        <app-training fxLayout="column"></app-training>
        <app-contact></app-contact>
    </div>
    
    <app-location fxFlex="40%"></app-location>
</div>

<!--<app-vision></app-vision>-->

<ng-template #loading>
  <mat-card>
    <mat-spinner></mat-spinner>
  </mat-card>
</ng-template>