<div class="banner-container" *ngIf="content; else loading">
  <img class="banner" fxHide.xs="true" width="100%" src="{{content.banner[0].url}}" />
  <img class="banner" fxHide.gt-xs="true" width="100%" src="{{content.bannermobile[0].url}}" />
  <div class="top-center"><h2>{{content.title}}</h2></div>
  <div class="bottom-center"><h3>{{content.subtitle}}</h3></div>
  <div fxHide.gt-xs="true" class="center-center-xs"><img src="../../assets/icon/JAI_logo.png"></div>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
  <app-post-list fxFlex="60%"></app-post-list>
  <app-activities fxFlex="40%"></app-activities>
  <!--<app-matches fxFlex="50%"></app-matches>-->
</div>
<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap>
    <div fxFlex="60%">
        <app-training fxLayout="column"></app-training>
    </div>
    
    <app-location fxFlex="40%"></app-location>
</div>

<!--<app-vision></app-vision>-->

<ng-template #loading>
  <mat-card>
    <mat-spinner></mat-spinner>
  </mat-card>
</ng-template>