<div class="card" *ngIf="times; else loading" fxLayoutAlign="center flex-end">
    <mat-table #table [dataSource]="times" fxFlex="95%">
      
      <ng-container matColumnDef="hold">
        <mat-header-cell *matHeaderCellDef> Hold </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dag">
        <mat-header-cell *matHeaderCellDef> Dag </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngFor="let day of element.practices;">
            <ng-container *ngIf="day.oddMonth == isOdd">{{day.weekday}}<br /></ng-container>
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tid">
        <mat-header-cell *matHeaderCellDef> Tid </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngFor="let day of element.practices">
            <ng-container *ngIf="day.oddMonth == isOdd">{{day.startTime | slice:0:5}}-{{day.endTime | slice:0:5}} <br /></ng-container>
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sted">
        <mat-header-cell *matHeaderCellDef> Sted </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngFor="let day of element.practices">
            <ng-container *ngIf="day.oddMonth == isOdd">{{day.place}} <br /></ng-container>
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let detail" fxLayout="row" style="justify-content: space-between; display: flex; align-items: flex-start">
          <div class="card" fxFlex="50%" style="align-content: flex-start">
            <h3>{{detail.element.team1.name}}</h3>
            <p *ngIf="detail.element.team1.description">{{detail.element.team1.description}}</p>
            <p><strong>Træner: </strong> <span *ngIf="detail.element.coach1">{{detail.element.coach1[0].name}}</span></p>
            <div fxLayout="row">
              <button mat-button><a *ngIf="detail.element.coach1" href="tel:{{detail.element.coach1[0].phone}}">
                  <mat-icon width="40px">phone</mat-icon>
                </a></button>
              <button mat-button><a *ngIf="detail.element.coach1" href="mailto:{{detail.element.coach1[0].mail}}"><mat-icon width="40px" >mail</mat-icon></a></button>
            </div>
          </div>
          <div class="card" fxFlex="50%" style="align-content: flex-start" >
            <h3 *ngIf="detail.element.team2.name">{{detail.element.team2.name}}</h3>
            <p *ngIf="detail.element.team1.description">{{detail.element.team2.description}}</p>
            <p *ngIf="detail.element.coach2; else elseBlock"><strong>Træner: </strong> <span *ngIf="detail.element.coach2">{{detail.element.coach2[0].name}}</span></p>
            <div fxLayout="row">
              <button mat-button><a *ngIf="detail.element.coach2" href="tel:{{detail.element.coach2[0].phone}}">
                  <mat-icon width="40px">phone</mat-icon>
                </a></button>
              <button mat-button><a *ngIf="detail.element.coach2" href="mailto:{{detail.element.coach2[0].mail}}"><mat-icon width="40px">mail</mat-icon></a></button>
              <ng-template #elseBlock>Har ikke tilknyttet træner</ng-template>
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row"
        (click)="expandedElement = row"></mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
        style="overflow: hidden">
      </mat-row>
    </mat-table>
</div>


<ng-template #loading>
    <mat-spinner [color]="secondary"></mat-spinner>
</ng-template>