<mat-card class="card" *ngIf="times; else loading">
  <mat-card-title>Træningstider</mat-card-title>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="times">


      <ng-container matColumnDef="hold">
        <mat-header-cell *matHeaderCellDef> Hold </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dag">
        <mat-header-cell *matHeaderCellDef> Dag </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngFor="let day of element.practices;">
            <ng-container *ngIf="day.oddMonth == isOdd">{{day.weekday}}<br /></ng-container>
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tid">
        <mat-header-cell *matHeaderCellDef> Tid </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngFor="let day of element.practices">
            <ng-container *ngIf="day.oddMonth == isOdd">{{day.startTime | slice:0:5}}-{{day.endTime | slice:0:5}} <br /></ng-container>
          </ng-container>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="sted">
        <mat-header-cell *matHeaderCellDef> Sted </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngFor="let day of element.practices">
            <ng-container *ngIf="day.oddMonth == isOdd">{{day.place}} <br /></ng-container>
          </ng-container>
        </mat-cell>
      </ng-container>





      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let detail">
          <div>
            <h4>{{detail.element.team1.name}}</h4>
            <p><strong>Træner: </strong> <span *ngIf="detail.element.coach1">{{detail.element.coach1[0].name}}</span></p>
            <p><strong>Tlf.: </strong> <a *ngIf="detail.element.coach1" href="tel:{{detail.element.coach1[0].phone}}">{{detail.element.coach1[0].phone}}</a></p>
            <p><strong>Mail: </strong><a *ngIf="detail.element.coach1" href="mailto:{{detail.element.coach1[0].mail}}">{{detail.element.coach1[0].mail}}</a></p>

            <h4>{{detail.element.team2.name}}</h4>
            <p><strong>Træner: </strong> <span *ngIf="detail.element.coach2">{{detail.element.coach2[0].name}}</span></p>
            <p><strong>Tlf.: </strong> <a *ngIf="detail.element.coach2" href="tel:{{detail.element.coach2[0].phone}}">{{detail.element.coach2[0].phone}}</a></p>
            <p><strong>Mail: </strong> <a *ngIf="detail.element.coach2" href="mailto:{{detail.element.coach2[0].mail}}">{{detail.element.coach2[0].mail}}</a></p>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row"
        (click)="expandedElement = row"></mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
        style="overflow: hidden">
      </mat-row>
    </mat-table>
  </div>
</mat-card>


<ng-template #loading>
  <mat-card>
    <mat-spinner [color]="secondary"></mat-spinner>
  </mat-card>
</ng-template>