.sponsor-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: 340px;
    padding: 0 0 20px 0;
}
.container {
    background-color: #FAFAFA;
    max-width: 1024px !important;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .container {
        padding: 0 1em 0 1em;
    }
  }

  .banner-container {
    max-width: 1024px !important;
    margin: 0 auto;
}