table {
    font-size: xx-small;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 16px;
    width: 100%;
  }
  
  .mat-cell {
    padding: 0 0 0 0;
    font-size: 11px;
  }
  
  td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 0px;
  }
  
  td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 0px;
  }

  .coach .title h4{
    margin: 5px 0 0 0;
  }

  .team {
    padding: 10px 0 10px 0;
  }

  .container {
    max-width: 1024px !important;
    margin: 0 auto;
  }
  