<div class="container" *ngIf="posts; else loading">
  <ngx-slick-carousel class="carousel gallery-one" #slickModal="slick-carousel" [config]="slideConfig"
    (init)="slickInit($event)">
    <div  ngxSlickItem *ngFor="let post of posts" [class.selected]="post === selectedPost" (click)="openDialog(post)">
      <article class="card">
        <div class="card-title">
          <h3>{{post.title}}</h3>
        </div>
        <div style="padding: 3em">
          <img *ngFor="let img of post.mainImage" src="{{ img.url }}" alt="">
          <div>
            <p>{{post.summary}}</p>
            <div class="author">
              <p>{{post.author}} {{post.date | date: 'shortDate':''}}</p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </ngx-slick-carousel>
</div>

<ng-template #loading>
  <mat-spinner [color]="secondary"></mat-spinner>
</ng-template>