.container {
    box-sizing: border-box;
    max-width: 1024px;
    width: 100%;
    padding: 1em;
}

  img {
    width: 100%;
  }

  .author {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
  }

.post{
  padding: 1em;
}

.list-item-title {
  padding-left: 1em;
}
