.container {
    box-sizing: border-box;
    max-width: 1024px;
    /* width: 100%; */
}

  img, .card {
    box-sizing: border-box;
    text-align: justify;
    margin: 0 auto;
  }

  img {
    object-fit: fill;
  }

  .author {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
  }

h3, .post-text {
    padding: 0 1em 0 1em;

}

.card-title {
  padding: 0 1em 0 1em;
}

.slick-slider {
  min-height:1px;
}
