
.container {
    box-sizing: border-box;
    max-width: 1024px;
    width: 100%;
    background-color: #f1f1f1;
    margin: 1em 0 1em 0;
}

  img {
    width: 100%;
  }

  .author {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
  }

  .app-full-bleed-dialog .mat-dialog-container {
    font-size: x-small !important;
  }

  .post {

    margin: 1em 0 1em 0;
  }

  .list-item-title {
    padding: 0 6px 0 12px;
  }

  .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
    height: 70px;
  }

:host /deep/ .mat-list-item-content {
  padding: 0!important;
}
@media screen and (min-width:1000px){
  mat-card {
    padding: 4em;
  }
}
